<mat-form-field>
  <mat-select (selectionChange) = 'selectUser($event?.value)'
              placeholder       = 'Пользователь'>
    <mat-option *ngFor="let user of users; let i = index" [value]="i">
      {{ user.name }}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field *ngIf="user">
  <mat-select (selectionChange) = 'selectTree($event?.value)'
              placeholder       = 'Дерево'>
    <mat-option *ngFor="let tree of trees; let i = index" [value]="i">
      {{ tree.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button
        color   = 'primary'
        *ngIf   = 'user'
        (click) = 'createTree()'>
  Создать дерево для этого пользователя
</button>

<mat-form-field *ngIf="tree">
  <input matInput placeholder="Название дерева" [(ngModel)]="tree.title">
</mat-form-field>

<button mat-button
        color   = 'primary'
        *ngIf   = 'tree'
        (click) = 'saveTree()'>
  Сохранить дерево
</button>




<div *ngIf="tree?.content">
  <app-cell [(children)] = 'tree.content'
            [depth]      = '0'>
  </app-cell>
</div>

<pre *ngIf="tree">
  {{tree.content | json}}
</pre>


<p *ngFor="let comment of comments">
  <span><b>{{comment.author_name}}</b></span> <span>{{comment.content}}</span>
</p>
